{% extends "base.html" %}
{%load static %}
{% block content %}

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <br></br>
        <img src="{% static 'images/f5-logo.png'%}" alt="f5-logo" width="225" height="225">
    </div>
    <div class="col-sm-8 text-left"> 
        <br></br>
        <center><h2>This is just for acknowledgment and cannot be considered as approval</h2></center>
        <br></br><br></br>
        <center>
        <table style="width:50%; border-collapse: collapse;" class="table table-hover center table-bordered">
        <tr>
            <td>EmployeeID</td>
            <td>{{employeeID}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td>ManagerID</td>
            <td>{{managerID}}</td>
        </tr>
        <tr>
            <td>ManagerName</td>
            <td>{{managerName}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>Zone</td>
            <td>{{zone}}</td>
        </tr>
        <tr>
            <td>Purpose</td>
            <td>{{purpose}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{status}}</td>
        </tr>
        </table>
        </center>
    </div>

    <div class="col-sm-2 sidenav">
    </div>

  </div>
</div>

{% endblock content %}
