        <form action="/dashboard" method="post">{% csrf_token %}
            <div class="form-row" >
                <div class="input-group date col-sm-4" id="datetimepicker1" data-target-input="nearest">
<!--            <input type="text" class="form-control datetimepicker-input " data-target="#datetimepicker1"/>-->
            {{ date_form.date }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            </div>
                <button type="submit" id="submit" class="btn btn-primary float-right">Submit</button>
            </div>

        </form>