<!DOCTYPE html>
<html lang="en">
<head>
  <title>Office Assistant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>img {width:100%;}</style>
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-5 bg-primary text-white text-center ">
                    <div class="card-body">
                        <img src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" style="width:30%">
                        <h2 class="py-3">Thank You</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.</p>
                    </div>
            </div>
        </div>
    </div>
</section>
</head>
</html>
