{% extends "base.html" %}
{%load static %}
{% block content %}


<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-5 bg-primary text-white text-center ">
                    <div class="card-body">
                        <img src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" style="width:30%">
                        <h2 class="py-3">Thank You</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.</p>
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
