{% extends "base.html" %}

{% block content %}


<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration</h2>
                        <p>We are currently running with 50 percent capacity. Please do not apply if you are sick or primary contact of any covid positive </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with your details</h4>
                <form action="/create_request" method="post">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <input id="FullName" name="FullName" placeholder="FullName" class="form-control" type="text"
                            value={{fullname}} disabled
                          >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input id="employeeid" name="employeeid" placeholder="EmployeeID"
                                 value={{employeeID}} disabled
                                 class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                {{ date_form.date }}
<!--                            <input type="text" id="date" class="form-control datetimepicker-input " data-target="#datetimepicker2"/>-->
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            </div>
                            </div>
                        </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <input id="purpose" name="purpose" placeholder="PurposeOfVisit" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="area" name="area" placeholder="Current Address" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                                  
                                  <select id="zone" name="zone"  class="form-control" >
                                    <option selected>Choose ...</option>
                                    <option> Green</option>
                                    <option> Orange</option>
                                    <option> Red</option>
                                    <option> Containment</option>
                                  </select>
                        </div>
                        <div class="form-group col-md-12">
                                  <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                  <label class="form-check-label" for="invalidCheck2">
                                    <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                  </label>
                                </div>
                              </div>
                    
                          </div>
                    </div>
                    
                    <div class="form-row justify-content-center" >
                        <button type="submit" id="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
